{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{% block styles %}
{{ super() }}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/styles.css')}}">

{% endblock %}

{% block title %}Add A New Cafe{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8">

      {{ wtf.quick_form(form) }}

            {% for error in form.Location.errors %}
            <ul>
                <li style="color:red;">{{ error }}</li>
            </ul>

            {% endfor %}

	  <p class="space-above"><a href="{{ url_for('cafes') }}">See all cafes</a></p>

    </div>
  </div>
</div>

{% endblock %}
